

.contenttilegrid {
    display: grid;
    grid-template-columns: 274px 274px auto;
    grid-template-rows: 206px 206px 206px;
    grid-row-gap: 56px;
    grid-column-gap: 40px;
    grid-template-areas:
        "tile1 tile2 tile3"
        "tile4 tile5 tile6"
        "tile7 tile8 tile9"
}

.tile1 {
    grid-area: tile1;
    position: relative;
    width: 100%;
    height: 100%;
}

.tile2 {
    grid-area: tile2;
    position: relative;
    width: 100%;
    height: 100%;
}

.tile4 {
    grid-area: tile4;
    position: relative;
    width: 100%;
    height: 100%;

}

.tile5 {
    grid-area: tile5;
    position: relative;
    width: 100%;
    height: 100%;

}

.tile7 {
    grid-area: tile7;
    position: relative;
    width: 100%;
    height: 100%;

}

.tiletext {
    position: absolute;
    bottom: 9px;
    left: 0px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    width: 100%;
    height: 59px;
    line-height: 59px;
    font-size: 25px;
    text-align: center;
}